@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff9ea;
  --accent: #f28b42;
  --primary: #ffcb45;
  --text-light: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff9ea;
    --foreground: #171717;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
